body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt !important;
    line-height: 22px;
    background-color: #2F2F2F;
    color:#c6c6c6;
}

a{
    outline: none !important;
}

#controls label {
    display: inline-block;
    margin-bottom: 2px;
    width: 59px;
    padding-left: 7px;
    font-size: 9pt;
    color: #C6C6C6;
}

input {
    width: 54px;
    height: auto !important;
    padding: 4px 5px !important;
    font-size: 10pt !important;
}

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.left.col { width: 250px; }
.right.col { left: 250px; right: 0; }

header.row { height: 55px; top: 0; }
.body.row { top: 60px; bottom: 190px; }
footer.row { height: 181px; bottom: 0; }

.brand img{
    margin-top: -3px;
    margin-right: 2px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}

.elems{
    height:143px;
    overflow-x: auto;
    margin:0 10px;
    padding:5px 0px;
    display:block;
    white-space:nowrap;

}

.elems .elem{
    box-shadow: #222 3px 3px inset;
    padding:2px;
    border-radius: 4px;
    border:1px solid #555;
    display: inline-block;
    width:110px;
    position:relative;
    font-size:8pt;
    margin:0 3px;
    background-color:#121213;
}

.elems .elem img{
    margin:0 auto;
}

.elems .elem-label{
    font-size: 8pt;
    letter-spacing: 1.8px;
    line-height: 15px;
    text-align: center;
    border-top: 1px solid #555;
    margin-top: 1px;
    background-color: #334;
    color: #ccc;
    text-shadow: 1px 1px #222;
    border-radius: 2px;

}

.elems .elem-author{
    position: absolute;
    line-height: 14px;
    font-size: 7pt;
    top: 0px;
    right: 0px;
    padding: 0px 5px;
    border-radius: 4px;
    background-color: #111;
    color: #666;
    display: inline-block;
    border: 1px solid #333;
    border-right: none;
    border-top: none;
}

.elems a{
    color:inherit;
}

.elems .elem .img-holder{
    text-align: center;
}

#drawingContainer{
    overflow: hidden;
    height:100%;
}


footer.ticker{
    background-color:#181818;
}

.ticker-bar{
    cursor: pointer;
    height:25px;
    border-radius: 3px 3px 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #222), color-stop(100%, #444));
    border: 1px solid #111;
    border-bottom:1px solid black;
}

.ticker-bar:hover{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #333), color-stop(100%, #555)) !important;
}

.system-info {
    position: absolute;
    width: 350px;

    box-shadow: rgba(255,255,255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.4) 1px 1px 4px 0px inset;

    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0.5)));

    background-color: #5d7580;
    border-radius: 2px 0 4px 0;
    border-bottom:1px solid black;
    border-right:1px solid black;
    padding: 5px 15px 8px 10px;
    top:1px;
    left:1px;

    text-shadow: 0 -1px 0 rgba(0,0,0, 0.25);



}

.navbar-inverse{
    box-shadow: rgba(255,255,255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.4) 1px 1px 4px 0px inset;

}

.system-info.blue{
    background-color: #3a6980;
    color: white;
}

.system-name {
    font-size:14pt;
    letter-spacing: 2px;
    float:left;

}

.system-author {
    float:right;
    color: inherit;
}

.system-author:hover {
    color: #dce9f5;
}

.modal{
    background-color:#2F2F2F;
    border: 1px solid rgba(100, 100, 100, 0.7);
}

.modal-header{
    color:#ddd;
    text-shadow: 1px 2px 2px #111;
}



.close{
    color: #ddd;
    text-shadow: 0 1px 0 #000;
}

.close:hover{
    color:#fff;
}

:focus{
    outline: none;
}

.pad, textarea, input[type="text"], input[type="password"] {
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding:5px;
    background: #202020;
    color: #ccc;
    border-color: #131313;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    position: relative;
}

textarea {
    width: 200px;
    padding:15px 16px;
}

.drawing-pad{
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding:5px;
    background: #202020;
    color: #ccc;
    border-color: #131313;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    margin: 0px 8px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 5px;
}

.btn-go, .btn-go:active{
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0,0,0, 0.5) 0 -1px 0;
}

.btn.btn-inverse{
    color:#ddd;
    border-color:#222222 #222222 #000000;
}

.navbar-text{
    color:#ddd;
    font-weight:bold;
    padding: 1px 15px;
}

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline{
    color:#e94a58;
}


.drawing-pad canvas {
    cursor:crosshair;
}
