$menu-color: #333;
$top:0;
$left:216px;
html{
  overflow:hidden;
}
body{
  font-family:helvetica;
  color:#aaa;
  text-shadow: 0.1em 0.1em #222;
  letter-spacing: 1px;
  font-size:8pt;
}

ul{
  list-style-type: none;
  padding:0;
  margin:0;
}
li{
  display:inline-block;
  padding: 0;
}

.header{
  height:50px;
  font-family:monospace;
  background-color: #1b1b1b;
  border-radius:0 0 4px 0;
  border-bottom:1px solid #545454;
  background-image:-webkit-linear-gradient(top, #222222, #111111);
  box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  a{
    padding-left:10px;
    padding-top:4px;
    color: #dbdbdb;
    font-size:12pt;
    font-weight:bold;
    text-decoration: none;
    display:block;
    img{
      width:40px;
      height:40px;
      float:left;
    }
    span{
      margin-left:10px;
      line-height:42px;
    }
  }
}

.left{
  bottom: 161px;
  cursor: default;
  background-color:$menu-color;
  left: 0;
  padding: 0 0 0 0px;
  position: absolute;
  border-right:1px solid #333;
  border-bottom:1px solid #333;
  top: $top;
  width: $left;
}

.right{
  bottom: 161px;
  left: $left;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: $top;
  border-left:1px solid #555;
  background-color: #1d1f20;
}
.bottom{
  position:absolute;
  padding:0;
  bottom:0;
  left:0;
  right:0;
  height:160px;
  border-top:1px solid #666;
  background-color:#222;
}
.top{
  position:absolute;
  top:0;
  right:0;
  left:0;
  height:$top - 1;
  background-color: #111115;
  border-bottom:1px solid #3f3f3f;
}

input[type=text], textarea{
  font-family:monospace;
  color:#bbb;
  border-radius:2px;
  border:1px solid #1d1d1d;
  background-color: #42474a;
  font-size:9pt;
  padding:3px 5px;
}
input[type=text]{
  text-align: right;
}


.controls{
  position:absolute;
  top:51px;
  bottom:0;
  right:1px;
  overflow:hidden;
  overflow-y:auto;

  &::-webkit-scrollbar{width:4px;height:4px;}
  &::-webkit-scrollbar-button:start:decrement, &::-webkit-scrollbar-button:end:increment{ display:block;height:2px;background-color: #232323; }
  &::-webkit-scrollbar-track-piece{ background-color: #282828;-webkit-border-radius:0;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px; }
  &::-webkit-scrollbar-thumb:vertical{ height:5px;background-color: #6d6d6d;-webkit-border-radius:4px; }
  &::-webkit-scrollbar-thumb:horizontal{ width:5px;background-color:#999;-webkit-border-radius:4px; }
  li{
    display:inline-block;
    &.label{
      background-color: #27292c;
      width:100%;
      padding:4px 0px;
      margin-top:6px;
      margin-bottom:5px;
      border-bottom:1px solid #464646;
      border-top:1px solid #191919;
      text-align: center;
    }
    &.split{
      display:block;
      width:100%;
      border-bottom: 1px solid #464646;
      border-top: 1px solid #202626;
      margin-top:5px;
      margin-bottom:5px;
    }
  }
  ul.control-row{
    padding:1px 5px;

    input[type=text]{
      width:55px;
      margin:0px 1px 0px 0px;
    }
    textarea{
      width:123px;
    }
    &.single.half input{
      width: 55px;
      margin-left:68px;
    }
    &.single input{
      width:123px;
    }
    li:first-child {
      width:50px;
      margin-left:8px;
    }
  }
}

.system-info {

  text-align: center;

  color: #d6d6d6;
  border-bottom:1px solid #2c2c2c;
  padding-top: 5px;
  padding-bottom:10px;

  .system-name{
    font-size:14pt;
    letter-spacing: 2px;
  }
  .system-author {
    margin:0 auto;
    color: inherit;
    &:hover{
      color: #dce9f5;
    }
  }
}

.actions{
  display:none;
}


.drawing-pad{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  #drawingContainer{
    overflow: hidden;
    height:100%;
  }
  canvas {
    cursor:crosshair;
  }
}




